PROJECT_NAME=""
DEBUG=True
API_V1_STR="/api/v1"
MONGODB_URL=""
MONGODB_DB_NAME=""

# JWT Authentication Settings
JWT_SECRET_KEY=""
JWT_REFRESH_SECRET_KEY=""
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# Gemini AI API Settings
GEMINI_API_KEY=""
GEMINI_MODEL_ID=gemini-3.1-flash-lite-preview

